<div class="container">
 <%= render 'users/list', user:@user,book:@book %>
 <h2>Books</h2>

 <div class="row">
   <table>
    <thead>
     <tr>
      <th>Title</th>
      <th>Opinion</th>
      </tr>
    </thead>

   <tbody>
     <tr>
      <td> <%= attachment_image_tag @user, :profile_image_id, format: 'jpeg', fallback: "no_image.jpg", size: "40x40" %></td>
      <% @books.each do |book|%>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
     </tr>
      <% end %>
   </tbody>
  </table>
</div>




</div>